[package]
name = "rphotos"
version = "0.7.1-PRE"
authors = ["Rasmus Kaj <kaj@kth.se>"]
edition = "2018"

build = "src/build.rs"

[build-dependencies]
ructe = { version = "^0.9.0", features = ["sass", "mime03"] }

[dependencies]
brotli = "3.3.0"
chrono = "~0.4.0" # Must match version used by diesel
dotenv = "0.15"
env_logger = "*"
flate2 = "^1.0.0"
image = "0.23.0"
medallion = "2.3.1"
kamadak-exif = "0.5.0"
libc = "*"
log = "0.4.8"
mime = "0.3.0"
r2d2-memcache = "0.5.0"
rand = "0.7.0"
regex = "*"
reqwest = "0.9.22"
serde = { version = "1.0.0", features = ["derive"] }
serde_json = "1.0"
slug = "0.1"
structopt = { version = "0.3.0", features = ["wrap_help"] }

[dependencies.djangohashers]
default-features = false
features = ["with_pbkdf2"]
version = "1.1.1"

[dependencies.diesel]
default-features = false
features = ["r2d2", "chrono", "postgres"]
version = "1.4.0"

[dependencies.warp]
default-features = false
version = "0.1.20"
