[package]
name = "rphotos"
version = "0.5.11-PRE"
authors = ["Rasmus Kaj <kaj@kth.se>"]
edition = "2018"

build = "src/build.rs"

[build-dependencies]
ructe = { version = "^0.6.2", features = ["sass", "mime03"] }

[dependencies]
brotli = "3.3.0"
chrono = "~0.4.0" # Must match version used by diesel
diesel = { version = "1.4.0", features = ["r2d2", "chrono", "postgres"] }
djangohashers = "*"
dotenv = "0.14.0"
env_logger = "*"
flate2 = "^1.0.0"
image = "0.21"
jwt = "0.4.0"
kamadak-exif = "~0.3.0"
libc = "*"
log = "*"
mime = "0.3.0"
r2d2-memcache = "0.3.0"
rand = "0.6.5"
regex = "*"
reqwest = "0.9"
rust-crypto = "0.2.36"
serde = { version = "1.0.0", features = ["derive"] }
serde_json = "1.0"
slug = "0.1"
structopt = { version = "0.2.14", features = ["wrap_help"] }
time = "*"
warp = "0.1.6"
