$border: 1px solid #333;

html {
    height: 100%;
    &, body {
	margin: 0;
	padding: 0;
    }
}

body {
    background: #eee;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}

p {
    margin: 0;
}

p + p {
    margin-top: 1ex;
}

header {
    background-color: #eee;
    box-shadow: 0 0 1ex #444;
    position: sticky;
    top: 0;
    z-index: 9999;
}

footer {
    background: #999;
    color: white;
    :link, :visited {
	color: #edf;
    }
    p { margin: 0; }
}

header, footer {
    display: flex;

    & > span {
        flex-grow: 1;
    }
    & > :last-child {
        flex-grow: 5;
        padding-left: 1em;
        text-align: right;
    }
}

main {
    flex-grow: 1;
    margin-bottom: 1em;
}

header, footer, main {
    flex-wrap: wrap;
    padding: 0 1ex;
}

.item {
    background: #ccc;
    border: $border;
    img {
	box-shadow: 0 .2em 1em -.2em #000;
	vertical-align: middle;
    }
}

div.group {
  display: flex;
  flex-flow: row-reverse wrap;

  .item {
    display: flex;
    flex-basis: 210px;
    flex-flow: column;
    flex-grow: 1;
    justify-content: space-between;
    margin: .2em;
    padding: .2em;
    text-align: center;

    h2, p {
      margin: .2em;
    }
  }
  p.item {
      justify-content: space-around;
  }
}
div.details {
    display: flex;
    flex-flow: row wrap;

    .item, .meta {
	padding: 1em;
    }
    .item {
	align-self: flex-start;
	flex-grow: 4;
	flex-basis: 30em;
	text-align: center;
	img {
	    max-width: 100%;
	}
	&.zoom {
	    flex-basis: auto;
	}
    }
    .meta {
	flex-grow: 1;
	flex-basis: 20em;
	padding-top: 0;
    }
}

ul.alltags, ul.allpeople, ul.allplaces {
    -moz-column-width: 13em;
    column-width: 13em;
}

#map {
    border: $border;
    height: 8em;
    margin: 1ex auto;
}

form {
    border: $border;
    margin: auto;
    padding: 1em;
    width: -moz-fit-content;
    width: fit-content;

    p {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
    }
    label {
	padding: .2em 1em .2em 0;
    }
}

#help {
    position: fixed;
    bottom: 2em;
    left: 2em;
    border: solid 1px black;
    padding: 1ex 1em;
    background: #fafafa;
    box-shadow: .3em .2em 1em;
    display: none;

    &:target {
	display: block;
    }
    h2 { margin: 0; }
}

// Relevant for admin forms only.  Move to separate file?
form.admin {
    position: relative;
    padding: 1.8em 1ex;
    display: flex;
    width: -moz-available;
    width: -webkit-fill-available;
    width: available;

    input[type="text"], input[type="range"] {
	flex-grow: 1;
	margin-right: 1ex;
    }
    button.close {
	font-size: 50%;
	margin: 0;
	padding: 0;
	position: absolute;
	right: -1ex;
	top: -1ex;
    }
}

div.completions {
    border-bottom: solid 1px #888;
    box-shadow: .2em .1em .5em rgba(0, 0, 0, .7);
    display: block;
    margin-left: .5em;
    position: absolute;
    z-index: 17;

    a {
	background: rgba(255,255,255,0.95);
	border-color: #888;
	border-style: solid;
	border-width: 1px 1px 0;
	display: block;
	padding: .2em .5em; // .2em 2.2em;
	color: black;
	text-decoration: none;
    }
    a:focus {
	background-color: #aaaaff;
    }
}
