$border: 1px solid #333;

body {
    background: #eee;
    margin-top: 2em;
    line-height: 1.6;
}

p {
    margin: 0;
}

p + p {
    margin-top: 1ex;
}

header {
    background-color: #eee;
    box-shadow: 0 0 1ex #444;
    display: flex;
    flex-wrap: wrap;
    left: 0;
    padding: 0 1ex;
    position: fixed;
    top: 0;
    width: 100%;
    width: -moz-available;

    & > span {
        flex-grow: 1;
    }

    span.user {
        flex-grow: 5;
        padding-left: 1em;
        text-align: right;
    }
}

.item {
    background: #ccc;
    border: $border;
    img {
	box-shadow: 0 .2em 1em -.2em #000;
	vertical-align: middle;
    }
}

div.group {
  display: flex;
  flex-flow: row-reverse wrap;

  .item {
    display: flex;
    flex-basis: 210px;
    flex-flow: column;
    flex-grow: 1;
    justify-content: space-between;
    margin: .2em;
    padding: 1ex;
    text-align: center;

    h2, p {
      margin: .2em;
    }
  }
}
div.details {
    display: flex;
    flex-flow: row wrap;

    .item, .meta {
	padding: 1em;
    }
    .item {
	align-self: flex-start;
	flex-grow: 4;
	flex-basis: 30em;
	text-align: center;
	img {
	    max-width: 100%;
	}
    }
    .meta {
	flex-grow: 1;
	flex-basis: 20em;
	padding-top: 0;
    }
}

ul.alltags, ul.allpeople, ul.allplaces {
    -moz-column-width: 13em;
    column-width: 13em;
}

#map {
    border: $border;
    height: 8em;
    margin: 1ex auto;
}
