body {
    background: #eee;
}

div.photos {
    display: flex;
    flex-flow: row wrap;
}
div.photos p {
    border: 1px solid #666;
    flex-basis: 210px;
    flex-grow: 1;
    margin: 0 -1px -1px 0;
    padding: 1ex;
    text-align: center;
}

ul.alltags, ul.allpeople, ul.allplaces {
    -moz-column-width: 13em;
    column-width: 13em;
}
