@use super::statics::{photos_css, admin_js, ux_js, rphotos_svg};
@use super::head_html;
@use crate::server::{Context, Link};

@(context: &Context, title: &str, lpath: &[Link], meta: Content, content: Content)

<!doctype html>
<html>
  <head>
    <title>@title</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/static/@photos_css.name" type="text/css"/>
    <link rel="icon" href="/static/@rphotos_svg.name"/>
    @if context.is_authorized() {
        <script src="/static/@admin_js.name" type="text/javascript" defer>
	</script>
    }
    <script src="/static/@ux_js.name" type="text/javascript" defer>
    </script>
    @:meta()
  </head>
  <body>
    @:head_html(context, lpath)
    @:content()
    <footer>
      <p>Managed by
	<a href="https://github.com/kaj/rphotos">rphotos
	@env!("CARGO_PKG_VERSION")</a>.</p>
    </footer>
  </body>
</html>
