@use crate::server::{Context, Link};

@(context: &Context, lpath: &[Link])

<header>
<span><a href="/" accesskey="h" title="Images from all years">Images</a>
@for p in lpath { - @p}
</span>
<span>· <a href="/tag/">Tags</a></span>
<span>· <a href="/person/">People</a></span>
<span>· <a href="/place/">Places</a></span>
<span>· <a href="/thisday">On this day</a></span>
<span>· <a href="/random" accesskey="r">Random pic</a></span>
@if let Some(ref u) = context.authorized_user() {<span class="user">@u (<a href="/logout">log out</a>)</span>}
else {<span class="user">(<a href="/login?next=@context.path_without_query()">log in</a>)</span>}
<form class="search" action="/search/" method="get">
  <label for="s_q" accesskey="s" title="Search">🔍</label>
  <div class="refs"><input id="s_q" name="q" type="search"/></div>
</form>
</header>
