@use ::{CSSLINK, Link};
@use rphotos::models::Photo;
@use templates::head;

@(title: &str, lpath: Vec<Link>, user: Option<String>, photos: Vec<Photo>)

<!doctype html>
<html>
  <head>
    <title>@title</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    @CSSLINK
  </head>
  <body>
    @:head(lpath, user)
    <h1>@title</h1>

    <div class="group">
      @for p in photos {
      <p class="item"><a href="/details/@p.id"><img src="/img/@p.id/s"></a></p>
      }
    </div>
  </body>
</html>
