@use super::{data_positions, page_base, photo_link};
@use crate::models::Coord;
@use crate::server::{Context, Link, PhotoLink};

@(context: &Context, title: &str, lpath: &[Link], photos: &[PhotoLink], coords: &[(Coord, i32)])

@:page_base(context, title, lpath, {
  <meta property='og:title' content='@title'>
  @for img in photos {
  <meta property='og:image' content='/img/@img.id-m.jpg' />}
  <meta property='og:description' content='@photos.len() images'>
  <meta name="twitter:card" content="gallery">
}, {
  <div class="group"@:data_positions(coords)>
    @for p in photos {@:photo_link(p)}
  </div>
})
