@use ::Link;
@use templates::head;
@use templates::statics::photos_css;

@(title: &str, lpath: &[Link], user: &Option<String>, content: Content)

<!doctype html>
<html>
  <head>
    <title>@title</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/static/@photos_css.name" type="text/css"/>
  </head>
  <body>
    @:head(lpath, user)
    <main>
      <h1>@title</h1>
      @:content()
    </main>
    <footer>
      <p>Managed by
	<a href="https://github.com/kaj/rphotos">rphotos, which is
	open source</a>.</p>
    </footer>
  </body>
</html>
