@use ::CSSLINK;
@use rphotos::models::{Photo, Person};
@use templates::head;

@(user: Option<String>, photos: Vec<Photo>, person: Person)
<!doctype html>
<html>
  <head>
    <title>Photos with @person.person_name</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    @CSSLINK
  </head>
  <body>
    @:head(vec![], user)
    <h1>@person.person_name</h1>

    <div class="group">
    @for p in photos {
    <p class="item"><a href="/details/@p.id"><img src="/img/@p.id/s"></a></p>
    }
    </div>
  </body>
</html>
